@charset "UTF-8";

.telaescondida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #530182de;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
}

.teladentro {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.pato-a, .pato-b {
    width: 100px;
    margin: 10px;
    display: block;
    position: absolute;
    top: 0;
}

.pato-a {
    animation: animacao-pato-a 3s infinite linear;
    left: 0;
}

.pato-b {
    animation: animacao-pato-b 3s infinite linear;
    right: 0;
}

.mensagem {
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 20px;
}

.hmensagem {
    text-align: center;
}

.pmensagem {
    text-align: justify;
    margin-top: 20px;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animacao-pato-a {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
        left: 0;
    }
    25% {
        transform: rotate(5deg) translate(0px, 5px);
        left: 25%;
    }
    50% {
        transform: rotate(0deg) translate(0px, 0px);
        left: 50%;
    }
    75% {
        transform: rotate(-5deg) translate(0px, -5px);
        left: 75%;
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
        left: 100%;
    }
}

@keyframes animacao-pato-b {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
        right: 0px - 200px;
    }
    25% {
        transform: rotate(-5deg) translate(0px, 5px);
        right: 25%;
    }
    50% {
        transform: rotate(0deg) translate(0px, 0px);
        right: 50%;
    }
    75% {
        transform: rotate(5deg) translate(0px, -5px);
        right: 75%;
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
        right: 100%;
    }
}