@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emilys+Candy&family=Faster+One&family=Passion+One&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    font-family: 'Emilys Candy', cursive;
    background-image: linear-gradient(to bottom, var(--roxo-escuro-2), var(--roxo-escuro-1));
    background-attachment: fixed;
    height: 100vh;
}

:root {
    --roxo-base: #7201b5;
    --roxo-claro: #903CC1;
    --roxo-escuro-1: #540183;
    --roxo-escuro-2: #281136;
    --roxo-escuro-3: #220136;
}

.container {
    display: grid;
    grid-template-rows: 10vh 90vh;
    box-sizing: border-box;
    max-width: 320px;
    margin: auto;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho h1 {
    font-size: 1.7em;
    font-weight: bolder;
}

.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    position: absolute;
    top: 40vh;
    width: 30px;
}

.coracao-a {
    animation: animacao-cor 1.5s infinite ease-out;
}

.coracao-b {
    left: 50%;
    animation: animacao-cor 1.5s .6s infinite ease-out;
}

.coracao-c {
    right: 50%;
    animation: animacao-cor 1.5s .9s infinite ease-out;
}

.gato {
    display: block;
    box-sizing: border-box;
	animation: animacao-cat 3s infinite ease-out;
    width: 320px;
}

.pato-a, .pato-b {
    width: 100px;
    margin: 10px;
}

.pato-a {
    animation: animacao-pato-a 2.5s infinite linear;
}

.pato-b {
    animation: animacao-pato-b 2.5s infinite linear;
}

@keyframes animacao-cor {
    0% {
        display: block;
    }
    100% {
        top: 0;
        transform: scale(2);
        display: none;
    }
}

@keyframes animacao-cat {
    0% {transform: scale(.9);}
    50% {transform: scale(1);}
    100% {transform: scale(.9);}
}

@keyframes animacao-pato-a {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    25% {
        transform: rotate(5deg) translate(0px, -5px);
    }
    50% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    75% {
        transform: rotate(-5deg) translate(0px, 5px);
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@keyframes animacao-pato-b {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    25% {
        transform: rotate(-5deg) translate(0px, -5px);
    }
    50% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    75% {
        transform: rotate(5deg) translate(0px, 5px);
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@media screen and (min-width: 375px){
    .cabecalho h1 {
        font-size: 2em;
    }
    .container {
        min-width: 375px;
    }
    .gato {
        min-width: 375px;
    }
    .pato-a, .pato-b {
        width: 100px;
    }
}

@media screen and (min-width: 425px) {
    .container {
        min-width: 425px;
    }
    .gato {
        min-width: 425px;
    }
    .pato-a, .pato-b {
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }
    .gato {
        min-width: 500px;
    }
    .pato-a, .pato-b {
        width: 150px;
    }
}

@media screen and (min-width:900px){
    .container {
        max-width: 900px;
    }
    .pato-a, .pato-b {
        width: 150px;
        margin: 20px;
    }
    .mensagem {
        margin-top: 150px;
        font-size: 2.5em;
    }
}