@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emilys+Candy&family=Faster+One&family=Passion+One&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Emilys Candy', cursive;
    background-image: linear-gradient(to bottom, var(--roxo-escuro-2), var(--roxo-escuro-1));
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --roxo-base: #7201b5;
    --roxo-claro: #903CC1;
    --roxo-escuro-1: #540183;
    --roxo-escuro-2: #281136;
    --roxo-escuro-3: #220136;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 100%;
    max-width: 900px;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    padding-top: 1vh;
}

.cabecalho h1 {
    font-size: 1.7em;
    font-weight: bolder;
}

.img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-height: 65vh;
    padding-top: 15vh;
}

.base {
    position: absolute;
    display: block;
    top: 37vh;
    width: 30px;
    cursor: pointer;
}

.coracao-a {
    animation: animacao-cor 1.5s infinite ease-out;
}

.coracao-b {
    left: 50%;
    animation: animacao-cor 1.5s .6s infinite ease-out;
}

.coracao-c {
    right: 50%;
    animation: animacao-cor 1.5s 1s infinite ease-out;
}

.gato {
    display: block;
	animation: animacao-cat 3s infinite ease-out;
    width: 320px;
    cursor: pointer;
}

@keyframes animacao-cor {
    100% {
        top: 15px;
        transform: scale(2);
        display: none;
    }
}

@keyframes animacao-cat {
    0% {transform: scale(.9);}
    50% {transform: scale(1);}
    100% {transform: scale(.9);}
}

.telaescondida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #530182de;
    min-height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.teladentro {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.pato {
    width: 100px;
    margin: 10px;
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.pato-a {
    left: 100%;
}

.pato-b {
    right: 100%;
}

.animacao-p1 {
    animation: animacao-pato-a 3s linear;
}

.animacao-p2 {
    animation: animacao-pato-b 3s linear;
}

.mensagem {
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.hmensagem {
    text-align: center;
}

.pmensagem {
    text-align: justify;
    margin-top: 10px;
    text-indent: 30px;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sair {
    font-family: monospace;
    border-radius: 0 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: var(--roxo-escuro-3);
}

.sair:hover {
    color: var(--roxo-claro);
}

.audios {
    display: none;
}

@keyframes animacao-pato-a {
    0% {
        left: -25%;
    }
    20% {
        transform: rotate(0deg) translate(0px, 0px);
        left: 0;
    }
    40% {
        transform: rotate(3deg) translate(0px, 2px);
        left: 25%;
    }
    60% {
        transform: rotate(0deg) translate(0px, 0px);
        left: 50%;
    }
    80% {
        transform: rotate(-3deg) translate(0px, -2px);
        left: 75%;
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
        left: 100%;
    }
}

@keyframes animacao-pato-b {
    0% {
        right: -25%;
    }
    20% {
        transform: rotate(0deg) translate(0px, 0px);
        right: 0%;
    }
    40% {
        transform: rotate(-3deg) translate(0px, 2px);
        right: 25%;
    }
    60% {
        transform: rotate(0deg) translate(0px, 0px);
        right: 50%;
    }
    80% {
        transform: rotate(3deg) translate(0px, -2px);
        right: 75%;
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
        right: 100%;
    }
}

@media screen and (min-width: 320px){
    .teladentro {
        height: 110px;
    }
    .mensagem {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 375px){
    .cabecalho h1 {
        font-size: 2em;
    }
    .gato {
        width: 375px;
    }
    .teladentro {
        height: 110px;
    }
    .pato {
        width: 100px;
    }
    .mensagem {
        font-size: 1em;
    }
    .hmensagem {
        font-size: 1.8em;
        padding: 0 5px;
    }
}

@media screen and (min-width: 425px) {
    .gato {
        width: 400px;
    }
    .teladentro {
        height: 110px;
    }
    .pato {
        width: 100px;
    }
    .mensagem {
        font-size: 1.2em;
    }
    .animacao-p1 {
        animation: animacao-pato-a 4s linear;
    }
    .animacao-p2 {
        animation: animacao-pato-b 4s linear;
    }
}

@media screen and (min-width: 768px) {
    .gato {
        width: 425px;
    }
    .teladentro {
        height: 170px;
    }
    .pato {
        width: 150px;
        margin: 20px;
    }
    .animacao-p1 {
        animation: animacao-pato-a 4s linear;
    }
    .animacao-p2 {
        animation: animacao-pato-b 4s linear;
    }
    .mensagem {
        font-size: 1.3em;
    }
}

@media screen and (min-width:900px){
    .gato {
        width: 450px;
    }
    .pato {
        width: 150px;
        margin: 20px;
    }
    .mensagem {
        font-size: 1.4em;
        max-width: 900px;
    }
    .animacao-p1 {
        animation: animacao-pato-a 6s linear;
    }
    .animacao-p2 {
        animation: animacao-pato-b 6s linear;
    }
}

::-webkit-scrollbar {
    background-color: var(--roxo-escuro-3);
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--roxo-claro);
    border: 4px solid var(--roxo-escuro-3);
}