@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emilys+Candy&family=Faster+One&family=Passion+One&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body {
    color: white;
    background-color: var(--roxo-claro);
    height: 100vh;
    font-family: 'Emilys Candy', cursive;
}

:root {
    --roxo-base: #7201b5;
    --roxo-claro: #903CC1;
    --roxo-escuro-1: #530182;
    --roxo-escuro-2: #281136;
    --roxo-escuro-3: #220136;
}

.container {
    display: grid;
    grid-template-rows: 15vh 85vh;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, var(--roxo-escuro-2), var(--roxo-escuro-1));
    max-width: 900px;
    margin: auto;
}

.cabecalho {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.cabecalho h1 {
    font-size: 2em;
    font-weight: bolder;
}

.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    position: absolute;
    top: 40%;
    width: 30px;
}

.coracao-a {
    animation: animacao-cor 1.5s infinite ease-out;
}

.coracao-b {
    left: 37%;
    animation: animacao-cor 1.5s .6s infinite ease-out;
}

.coracao-c {
    right: 37%;
    animation: animacao-cor 1.5s .9s infinite ease-out;
}

.gato {
    display: block;
    box-sizing: border-box;
	animation: animacao-cat 3s infinite ease-out;
    width: 310px;
}

.base-pato {
    position: absolute;
    bottom: 10px;
    width: 120px;
}

img.pato-a {
    left: 0;
    animation: animacao-pato 1s infinite linear;
}

@keyframes animacao-cor {
    0% {
        display: block;
    }
    100% {
        top: 0;
        transform: scale(2);
        display: none;
    }
}

@keyframes animacao-cat {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}